@media(max-width: 1000px) {
    :host {
        font-size: 35px;
    }

    .select-all-sources {
        font-style: italic;
    }

    .custom-control label.custom-control-label:before,
    .custom-control label.custom-control-label:after {
        width: 2rem !important;
        height: 2rem !important;
    }

    .custom-control label.custom-control-label span {
        margin-left: 12px;
    }

    a {
        margin-top: 10px;
        font-size: 30px;
    }
}
