agenda-comme-un-calendar {
    margin: 0 auto;
}

.event-hosts {
    color: #90949c;
    font-size: 10px;
}

.event-sharer {
    color: #90949c;
    font-size: 10px;
    font-style: italic;
}

.event-description img {
    width: 100%;
    margin: 10px 0 10px 0;
}

/* mobile */
@media (max-width: 1000px) {
    .event-sharer {
        font-size: 20px;
    }

    /*
    * Table
    */
    .fc-toolbar .fc-button-group {
        font-size: 1.5em;
    }

    table.fc-list-table tr td.fc-widget-header {
        font-size: 30px;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-time {
        font-size: 30px;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-marker {
        display: none;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-title {
        font-size: 40px;
    }
}

.tippy-tooltip.commeun-theme {
    color: #26323d;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
    background-color: #fff;
    padding: 0;
    text-align: left;
    border-radius: 0.25em;
}

.tippy-tooltip.commeun-theme[x-placement^=top] .tippy-arrow {
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.tippy-tooltip.commeun-theme[x-placement^=bottom] .tippy-arrow {
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.tippy-tooltip.commeun-theme[x-placement^=left] .tippy-arrow {
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

.tippy-tooltip.commeun-theme[x-placement^=right] .tippy-arrow {
    border-right: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

.tippy-tooltip.commeun-theme .tippy-backdrop {
    background-color: #fff
}

.tippy-tooltip.commeun-theme .tippy-roundarrow {
    fill: #fff
}

.tippy-tooltip.commeun-theme[data-animatefill] {
    background-color: transparent
}

@media (max-width: 1000px) {
    .tippy-tooltip.commeun-theme {
        font-size: 20px;
        max-width: 650px;
        border: 3px solid rgba(0, 0, 0, .2);
        box-shadow: 8px 8px 20px grey;
    }

    .tippy-tooltip.commeun-theme .card-header {
        font-size: 50px;
    }

    .tippy-tooltip.commeun-theme .card-body {
        font-size: 40px;
    }

    .event-hosts,
    .event-sharer {
        font-size: 30px;
    }
}
