
@media(max-width: 1000px) {
    /*
    * Navbar
    */
    nav.navbar,
    nav.navbar-brand {
        font-size: 25px;
    }

    nav.navbar a.navbar-brand {
        font-size: 30px;
        padding: 1em !important;
    }

    nav.navbar .form-control {
        padding: .75rem 1rem;
    }

    /*
    * Table
    */
    .fc-toolbar .fc-button-group {
        font-size: 1.5em;
    }

    table.fc-list-table tr td.fc-widget-header {
        font-size: 30px;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-time {
        font-size: 30px;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-marker {
        display: none;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-title {
        font-size: 40px;
    }



    /*
    * Modals
    */
    .popover {
        font-size: 20px;
        max-width: 650px !important;
        border: 3px solid rgba(0,0,0,.2);
        box-shadow: 8px 8px 20px grey;
    }

    h3.popover-header {
        font-size: 50px;
    }

    .popover-body {
        font-size: 40px;
    }

    .popover-body .event-hosts,
    .popover-body .event-sharer {
        font-size: 30px;
    }

    /* Sources */
    #menu-sources {
        margin-top: 50px;
        padding: 20px 40px;
    }

    .sidebar-sticky h5 {
        font-size: 45px;
    }

    .select-all-sources {
        font-style: italic;
    }

    form#sourcesFilteringForm {
        font-size: 35px;
    }

    form#sourcesFilteringForm .custom-control label.custom-control-label:before,
    form#sourcesFilteringForm .custom-control label.custom-control-label:after {
        width: 2rem !important;
        height: 2rem !important;
    }

    form#sourcesFilteringForm .custom-control label.custom-control-label span {
        margin-left: 12px;
    }

    .sidebar-sticky a {
        margin-top: 10px;
        font-size: 30px;
    }
}
