<mat-toolbar>
	<button mat-icon-button (click)="sidenavIsOpened = !sidenavIsOpened">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Transiscope</span>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav mode="side" opened>
		<div class="date-pickers">
			<mat-form-field>
				<input matInput [matDatepicker]="startPicker" placeholder="à partir du" [(ngModel)]="startsOn"
					(ngModelChange)="onStartsOnChanged()">
				<mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
				<mat-datepicker #startPicker></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<input matInput [matDatepicker]="endPicker" placeholder="Jusqu'au" [(ngModel)]="endsOn"
					(ngModelChange)="onEndsOnChanged()">
				<mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
				<mat-datepicker #endPicker></mat-datepicker>
			</mat-form-field>
		</div>

		<div class="filters">
			<div>
				<mat-form-field>
					<input matInput placeholder="Rechercher">
				</mat-form-field>
			</div>
			<div>
				<mat-form-field *ngIf="!!sources">
					<mat-label>Source</mat-label>
					<mat-select multiple [(ngModel)]="selectedSources" (ngModelChange)="onSourcesChanged($event)">
						<mat-option *ngFor="let source of sources" [value]="source">
							{{ source }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>

	</mat-sidenav>

	<!-- Content -->
	<mat-sidenav-content>
		<full-calendar id=" calendar" deepChangeDetection="true" defaultView="listWeek" [plugins]="calendarPlugins"
			[events]="events" [header]="{
				left: 'prev,next today',
				center: 'title',
				right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
			  }">
		</full-calendar>
	</mat-sidenav-content>
</mat-sidenav-container>